# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Vv]env/
/[Pp]ybrain/
/[Ii]dea/
