# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
C:/Users/avivb/PycharmProjects/StrokeAi/venv/
C:/Users/avivb/PycharmProjects/StrokeAi/pybrain/
C:/Users/avivb/PycharmProjects/StrokeA/idea/
